.AppContainer {
}
.WrapperBody {
    justify-items: center;
    margin-top: 50px;
}
.ButtonAdd{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.progress{
    display: flex;
    justify-content: center;
    margin-top: 5%
}